@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div>
    Welcome to Vozzerts dwarven dicegame! After a glorious console version and a slightly less glorious win-forms version, it's time to get it online in a MVC-application!<br />
    I created this page to sharpen my C#, MVC, HTML, CSS skills. 
</div>


