@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>



<address>
    <strong>feedback and/or questions?:</strong>   <a href="mailto:fernandvos@yahoo.co.uk">fernandvos@yahoo.co.uk</a><br />
    
</address>