
@{
    ViewBag.Title = "Rules";
}

<h2>Rules</h2>

<div class="jumbotron">Welcome to the inn!<br />
    here we play a dicegame, called 3D20. <br />
    You and your opponent both roll 3 D20. 
    The player who's turn it is, chooses one, his bet-die. Both players put an amount of gold in the stash equal to the shown die. 
    If the other player wants, he can chicken out and loose this round (and his gold on the stash!)
    Now the other player also shows a bet-die and again, both players again put that amount of gold in the stash.
    Next both players show pick a game-die and show it. You get a slight bonus on your game-die derived from your bet-die.
    If your bet-die was 5 till 15, you get a +1 bonus on your game-die. If your bet-die was 16 or higher, you get a +2 bonus. 
    Highest game-die (including bonus) wins the stash! If their is a tie, the gold stays in the stash and the next round will be a whole lot more interesting!

    </div>

